.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 50%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.App-main {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********* Sub Header Section *********/

.sub-header {
  border-bottom: 1px black solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

h5.total-text {
  margin-bottom: 0;
}

.add-receipt-btn {
  background: white;
  border-color: black;
}

.add-receipt-btn:hover {
  background: #F8F8F8;
  border-color: black;
}

/********* Receipts Container Section *********/

.receipts-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding: 1rem;
  justify-content: space-between;
}

.single-receipt-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  padding: 1rem;
}

  .single-receipt-container:hover {
    background-color: #F8F8F8;
  }

.receipt-container-trash {
  display: none;
}

.receipt-img-container {
  border: black 1px solid;
  padding: 1rem;
}

.receipt-img {
  height: 4em;
}

.receipt-body {
  width: 15rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.receipt-body {

}
