.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 50%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.App-main {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.sub-header {
  height: 3rem;
  border-bottom: 1px black solid;
}

.receipts-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.single-receipt-container {
  display: flex;
  flex-direction: row;
}

.receipt-body {
  width: 15rem;
  padding: 1.25rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
